footer {
    width: 1080px;
    height: 460px;
    margin: 0 auto;
    .footer_top {
        display: flex;
        justify-content: space-around;
        height: 150px;
        border-bottom: 1px solid #cccccc;
        width: 1080px;
        dl {
            width: 210px;
            margin-top: 34px;
            float: left;
            dt {
                float: left;
                img {
                    width: 80px;
                }
            }
            dd {
                float: left;
                p {
                    padding-left: 20px;
                    line-height: 80px;
                    font-size: 16px;
                }
            }
        }
    }
    .footer_middle {
        display: flex;
        justify-content: space-around;
        height: 210px;
        padding-top: 20px;
        text-align: center;
        ul {
            width: 110px;
            img {
                width: 98px;
            }
            p {
                font-size: 16px;
                line-height: 50px;
            }
            li {
                &:hover {
                    color: #733d87;
                }
                font-size: 12px;
                color: #808080;
                line-height: 28px;
            }
        }
        dl {
            width: 254px;
            height: 140px;
            border-left: 1px solid #cccccc;
            p {
                font-size: 16px;
                line-height: 50px;
            }
            li {
                font-size: 12px;
                color: #808080;
                line-height: 28px;
            }
        }
    }
    .footer_bottom {
        width: 1080px;
        text-align: center;
        p {
            font-size: 12px;
            color: #808080;
            line-height: 28px;
        }
    }
}